.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #103b47 0%, #175161 20%, #6fdbfa 100%);
}

.Quiz h1 {
    color: #fff;
    margin-left: 10px;
    text-align: center;
}

.Quiz h1 img {
    width: 30px;
    height: 30px;
}

.QuizWrapper {
    width: 650px;
}